<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground 1</title>
    <style>
        h1 {
            text-align:center
        }

        div {
            display: flex;
            align-items:center;
            justify-content: center;
            flex-wrap: wrap
        }

        p {
            background-color:var(--color);
            border-style: solid;
            border-color:black;
            height: 200px;
            width: 200px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <h1>Welcome!</h1>
    <div>
        <p style="--color: cornflowerblue"></p>
        <p style="--color: cornflowerblue"></p>
        <p style="--color: cornflowerblue"></p>
        {#{% for i in range(0,num) %}
        <p style="--color: cornflowerblue"></p>
        {% endfor %}
        {% for i in range(0,num) %}
            <p style="--color: {{ color }}"></p>
        {% endfor %}
        #}
     </div>

</body>
</html>